[include]
	path = ~/.gitconfig.local
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	co = checkout
	fo = fetch origin
	po = push origin 
	br = branch
	rb = rebase
[push]
	default = simple
	autoSetupRemote = true
[core]
	pager = less -FRX
	editor = mate -w
[pull]
	rebase = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
